<ngb-tabset>
    <ngb-tab title="Product">
      <ng-template ngbTabContent>
          <app-productname></app-productname>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Product Detail</ng-template>
      <ng-template ngbTabContent>
        <app-productdetail></app-productdetail>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Product List">
      <ng-template ngbTabContent>
        <app-productlist></app-productlist>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

