<div class="row">
  <div class="col-md-12">
      <h3>Product List</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Sl.No.</th>
            <th>Product</th>
            <th>Name/Make/Model</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productdetail of productbookinglist; let i = index">
            <td>{{i+1}}</td>
            <td>{{productdetail.productname[0].name}}</td>
            <td>{{productdetail.name}}/{{productdetail.make}}/{{productdetail.model}}</td>

            <td>{{productdetail.remark}}</td>
            <td>
                <button (click)="open(productdetailmodel,productdetail._id)"><i class="fa fa-edit fa-lg"></i></button>&nbsp;
                <button (click)="productdetailDelete(productdetail._id)"><i class="fa fa-trash fa-lg"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<ng-template #productdetailmodel let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Product Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (submit)="bookTheItem();">
      <input type="hidden" [(ngModel)]="productdetailid" name="productdetailid" />

      <button type="submit" class="btn btn-primary">Update Product Detail</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
